"*":
  editor:
    fontSize: 14
    showIndentGuide: true
    invisibles: {}
  core:
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
  "markdown-preview": {}
  "todo-show": {}
  "exception-reporting":
    userId: "24cf6d71-d914-eb17-b13d-54a92474138f"
  welcome:
    showOnStartup: false
".angular.html.text":
  editor:
    tabLength: 2
